h1{
    margin-top: 2vh;
}
.addEmployeeForm{

    padding: 2rem;
    height: 40vh;
    width: 40vh;

    .form-control-div{
            padding: 0;
            input{
                background-color: #202020;
                color: #fff;
                padding: 3%;
                width: 100%;
                margin-left: 0;
            }
    }
    .btn{
        background-color: blue;
        color: white;
        float: right;
        padding: 3% 10% 3% 10%;
        transition: all .2s ease-in;
    }
    .btn:hover, .btn-active{
        background-color: #202020;
        color: white;
        cursor: pointer;
    }

}