$blue:#3D5AFE;
$blueShadow:#627AFD;
$black:#101010;
$white:#FAFAFA;
$off:#D5D5D5;


//Dark

$darkOff:#4C4C4C;
$darkBlack:#1D1D1D;
$navy:#161625;
$navy-lt:#1E1E30;

//accent

$red:#E35136;
$orange:#EB8D0F;
$green:#75CB54;
$purple:#725FFE;

//fonts
$f1:'Roboto', sans-serif;

*{
    font-family:$f1;
}